fishers_test_data.npz
FishObjectDetect_train.npz
vgg16_weights.h5
fishers_train_data.npz
MeanRemovedData.npz
MeanRemovedData_nodataaug.npz
ModifiedTestData.npz
ExtractedFeatures_nodataaug.npz
ExtractedFeatures.npz
ExtractedFeatures_aug.npz
ExtractedFeatures_noaug.npz
MeanRemovedData_aug.npz
MeanRemovedData_noaug.npz
MeanRemovedTestData.npz
MeanRemovedTestData_aug.npz
MeanRemovedTestData_noaug.npz
inputdata.tgz
models_aug.tgz
TrainImageMean_cropped.npz
MeanRemovedTestData.npz
MeanRemovedData_cropped.npz
ExtractedFeatures_cropped.npz
Extractedtestdata_ResNet50.npz
Extractedtestdata_VGG16.npz
Extractedtestdata_VGG19.npz
Extractedtestdata_InceptionV3.npz
Extractedtestdata_InceptionV3.npz
MeanRemovedData_cropped.npz
MeanRemovedData_cropped.npz
TrainImageMean_cropped.npz
InceptionV3_RandomForestClassifier_recall.pkl


*.jpg
*.jpeg
*.png

inputdata/
outputdata/

*_NN*.h5

QUT_fish_data.zip
